<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>VistaClase</title>
</head>
<body>
    <h1>Vista de vistaClase.ejs</h1>
    <p>Como hacer un foreach</p>
    <!-- Igual que un for pero con una sintaxis distinta -->
    <!-- 
        result => 
    let user =
            user[0],
            user[1],
            user[2],
            user[3],
            user[4],
 <% result.forEach( function(user){ %>
    <%- user.name %>
 <% }); %>
    -->
    <div class="container-fluid">
        <div class="row">
            <% result.forEach( function(user){ %>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%- user.name %>
                            </h5>
                            <p class="card-text">
                                <%- user.last_name %>
                            </p>
                            <p class="card-text">
                                <%- user.year %>
                            </p>
                            <p class="card-text">
                                <%- user.dni %>
                            </p>
                            <a href="#" class="btn btn-primary">
                                Enviar
                            </a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
        <div class="row">
            <% infoResult.forEach( function(user){ %>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%- user.name %>
                            </h5>
                            <p class="card-text">
                                <%- user.name_film %>
                            </p>
                            <a href="#" class="btn btn-danger">
                                Enviar
                            </a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>